:root {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.card {
  max-width: 350px;
  min-height: 200px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 2px 4px 10px 0px #c6c6c6;
  box-shadow: 2px 4px 10px 0px #c6c6c6;
}
.info{
  font-weight: bold;
}